<!doctype html>

<hmtl>
  <head></head>
  <body style="padding:50px;">

    <% if (username) { %>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL"> Enter a URL: </label>
      <input id="longURL" type="text" name="longURL" placeholder="www." style="width:300px;">
      <input type="submit" value="Submit">
    </form>

    <% } else { %>
      <a href='/urls'>Login</a> to add URL

      <% } %>
  </body>
</hmtl>


